.card {
    width: 33.3%;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
    background: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    border-radius: 4px;
}

h4 {
    text-align: center;
    margin: 0;
    padding: 1rem;
}

// .card__img {

// }

.card__title {
    text-align: center;
}

// .card__ingredientList {

// }

.card__description {
    padding: 1rem;
    margin-top: 0;
}